# LLM Configuration
OLLAMA_MODEL=llama3.1
OLLAMA_BASE_URL=http://127.0.0.1:11434

# API Configuration
BANK_API_BASE_URL=https://test.alb.tonikbank.com/customer/v1/
API_TIMEOUT=10

# Application Configuration
APP_NAME="Banking Agent AI"
APP_VERSION=1.2.0
DEBUG=False
