fastapi
uvicorn
langgraph
langchain
langchain-ollama
requests
pydantic
python-dotenv
python-multipart
pydantic_settings
langchain-postgres
langchain_community
psycopg[binary]
beautifulsoup4
langchain-text-splitters