fastapi
uvicorn
langgraph
langchain
langchain-ollama
langchain-openai
langchain-postgres
requests
pydantic
python-dotenv
python-multipart
pydantic-settings
psycopg[binary]
beautifulsoup4
langchain-text-splitters
asyncpg
pgvector
sqlalchemy
